*,
*::after,
*::before {
box-sizing: border-box;
margin: 0;
padding: 0;
}

.fl-box {
  display: flex;
}

:root {
    --black: #1d1d1d;
    --yellow: #ea984e;
    --red: #6d0022;
    --white: #f4f5f0;
}

/* starts the welcome section */

nav {
  width: 100%;   
  height: 50px;
  align-items: center;
  background-color: var(--black);
  position: fixed;
  top: 0;
}

.menu-container {
  width: 50%;
  flex-basis: 50%;
  display: flex;
  justify-content: flex-end;
  font-size: 17px;
  margin-right: 5%;
  color: var(--red);
}

#burguer-menu {
  padding: 8px;
  background-color: #6d002220;
  border-radius: 10px;
}

.logo-container {
  flex-basis: 50%;
  width: 50%;
  height: 100%;
  object-fit: contain;
  display: flex;
  justify-content: flex-start;
}

.welcome-section {
  height: 120vh;
  background-color: var(--black);
  flex-direction: column;
}

.front-page {
  background-image: linear-gradient(150.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 100%), url(fotos/Chemex.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  flex-basis: 100vh;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.front-page img {
  width: 200px;
  height: 100px;
  margin-right: 5%;
}

.front-page h1 {
  color: #f4f5f0;
  margin-right: 5%;
  margin-left: 5%;
  font-size: 30px;
  font-weight: 400;
  text-align: right;
  font-family: 'Amaranth', sans-serif;
  margin-bottom: 24px;
}

.front-page p {
  font-size: 18px;
  color: var(--white);
  margin-right: 5%;
  margin-left: 5%;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  margin-bottom: 24px;
}

.btn-container {
  flex-basis: 15%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-container i {
  color: var(--yellow);
  font-size: 30px;
}

.btn {
  height: 14.7vw;
  width: 54vw;
  border-radius: 30px;
  color: #f4f5f0;
  background-color: var(--red);
  border: none;
  cursor: pointer;
  font-size: 16px;
}

/* Here starts the services section */

.main-title {
  margin-top: 20%;
  text-align: center;
  margin-bottom: 18px;
  font-family: 'Amaranth', sans-serif;
  margin-top: 120px;
  font-size: 40px;
}

.divisor-1 {
  width: 90%;
  margin-left: 5%;
}

.menu {
  flex-direction: column;
  margin-top: 80px;
  margin-left: 25px;
  margin-right: 25px;
}

.menu-placeholder {
  width: 100%;
  height: 240px;
  background-color: var(--red);
  object-fit: fill;
  justify-content: center;
  align-items: center;
}

.menu-img {
    width: 80%;
    height: 80%;
}
.menu-title {
  font-size: 2rem;
  font-family: 'Amaranth', sans-serif;
  margin-top: 20px;
}

.menu-description {
  font-size: 1rem;
  font-family: 'Nunito', sans-serif;
  margin-top: 20px;
}

.menu-btn {
  color: var(--white);
  font-size: 17px;
  background-color: var(--red);
  border-radius: 5px;
  height: 48px;
  width: 128px;
  font-family: 'Nunito', sans-serif;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-weight: 700;
}

.menu-btn:hover {
  color: black;
  background-color: var(--yellow);
}

.services-grid {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 120px;
}

.service-card {
  max-width: 90%;
  height: 530px;
  overflow: hidden;
  margin-left: 5%;
  margin-top: 70px;
  border: 3px solid var(--yellow);
  margin-top: 24px;
}

.img-card-container {
  height: 60%;
}

.img-card {
  height: 100%;
  min-width: 100%;
}

.card-title {
  margin-top: 16px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  font-family: 'Amaranth', sans-serif;
}

.card-description {
  margin-top: 16px;
  margin-left: 12px;
  margin-right: 12px;
}

.btn-card-container {
  width: 100%;
  justify-content: center;
}

.card-btn {
  color: var(--white);
  font-size: 17px;
  background-color: var(--red);
  border-radius: 5px;
  height: 48px;
  width: 150px;
  font-family: 'Nunito', sans-serif;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 24px;
  font-weight: 700;
}

/* Here start contact form section */

footer {
  height: 100vh;
  background-color: var(--black);
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-title {
  width: 90%;
  font-size: 32px;
  text-align: center;
  font-family: 'Amaranth', sans-serif;
}

.form-description {
  width: 90%;
  font-size: 18px;
  text-align: center;
  margin-top: 24px;
  font-family: 'Nunito', sans-serif;
}

.contact-form {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-top: 24px;
}

.form-field {
  height: 48px;
  width: 100%;
  margin-top: 24px;
}

.form-field::placeholder {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  padding-left: 10px;
}

.form-message {
  width: 100%;
  height: 114px;
  margin-top: 24px;
}

.form-message::placeholder {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  padding-top: 10px;
  padding-left: 10px;
}

.submit-btn {
  height: 14.7vw;
  width: 54vw;
  border-radius: 30px;
  color: #f4f5f0;
  background-color: var(--red);
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 40px;
  font-family: 'Nunito', sans-serif;
}